{% extends 'base.html' %}

{% block style %}
    <style>
        h1 {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
{% endblock style %}

{% block content %}
    <h1>MedCure Page</h1>
    <hr>

    <h4>Name: {{name}}</h4> 
    <h4>Class: {{class}}</h4>
    <hr>

    <h3>Kamu menyimpan {{total_products}} product pada aplikasi ini</h3>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>{{item.date_added}}</td>
                <td>
                    <a href="{% url 'main:increase_amount' item.id %}">
                        <button>
                            Add Amount
                        </button>
                    </a>
                    <a href="{% url 'main:decrease_amount' item.id %}">
                        <button>
                            Decrease Amount
                        </button>
                    </a>
                    <a href="{% url 'main:remove_item' item.id %}">
                        <button>
                            Remove Item
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Item
        </button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    
    <h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}